
/* TODO: change to have elements styled specifically
	TODO: KEEP COMMENTS HIGH!!!*/
* {
  	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;

  	font-size: 16px;

  	-webkit-font-smoothing: antialiased;

  	-moz-osx-font-smoothing: grayscale;
}

/*Applies to all body elements in the website*/
.Site {
	background-color: #83baad;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Site-content{
	flex: 1;
	margin: auto;
}

.Site-header .links{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
}

/*Button margins added to keep img size stable while maintaining proper button size*/
.Site-header a.home-button{
  height: 100%;
  left: 6%;
  position: relative;
}

.Site-header a.button{
	background-color:#febac2;
	color:#620e0a;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 5px 5px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
	width: 100px;

}
.Site-header a.button:hover, .Site-header a.button:hover {
	background-color:#febac2;
	color:#ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 10px 10px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
  	transition: background-color 0.2s;
}

.Site-header a.button4{
	background-color:#febac2;
	color:#620e0a;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 5px 5px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
}


.login, .register {
  	width: 400px;
  	background-color: #83baad;
  	margin: 100px auto;
}


.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
}
/*login buttons*/
.login .links a, .register .links a {
	background-color:#febac2;
	color:#620e0a;
	padding: 7px 5px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 5px 5px #423133;
}

.login .links a:hover, .register .links a:hover {
  	color: #620e0a;
}

.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #000000;
  	color: #ffffff;
}

.login form, .register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

.login form label, .register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #903445;
  	color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #903445;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

.login form input[type="submit"], .register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
	  background-color:#febac2;
	  color:#620e0a;
	  text-align: center;
	  text-decoration: none;
	  font-weight: bold;
	  text-transform: uppercase;
	  box-shadow: 5px 5px #423133;
	  margin: auto;
	  border-radius: 5px 5px 5px 5px;
  	transition: background-color 0.2s;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
	background-color:#febac2;
	color:#ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 10px 10px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
  	transition: background-color 0.2s;
}

/*TODO: More descriptive css*/
.content {
  	width: 1000px;
  	margin: 0 auto;
}

.result-container{
	display: inline-block;
}

.result-box{
	float:right;
}

.video-thumbnail{
	float: left;

}

.content h2 {
  	margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
  	border-bottom: 1px solid #e0e0e3;
  	color: #620e0a;
}

.content > p, .content > div {
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  	margin: 25px 0;
  	padding: 25px;
	background-color: #fff;
}

.content > p table td, .content > div table td {
	padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #620e0a;
	padding-right: 15px;
}

.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

/*Implemented by lab 1*/
.profile{
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
	width: 400px;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}

.profile h1{
	text-align: center;
	color: #620e0a;
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}

.profile h3{
	color: #620e0a;
	text-align: center;
	padding: 5px;
}


.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.profinfo1{
	font-weight: bold;
}
.profinfo2{
	float:right;
}

.userinfo{
	padding: 15px;
	border-style: outset;
}

/*index.html*/
/*Increased margin to prevent overlaying on top of header*/
.search {
	margin-top:150px;
	width: 100%;
	position: absolute;
	display:flex;

}
.search-term {
	width: 100%;
	border: 3px solid #903445;
	border-right: none;
	padding: 5px;
	height: 25px;
	border-radius: 54px 0px 0px 54px;
	outline: none;
	color: black;
}
a.search-btn {
	width: 40px;
	height: 34px;
	border: 3px solid #903445;
	background: #ce4a62;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
a.advanced-search-btn {
	background-color:#febac2;
	color:#620e0a;
	padding: 5px 5px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 5px 5px #423133;
	margin: 5px 5px 120px;
	border-radius: 5px 5px 5px 5px;
}
a.advanced-search-btn:hover, a.advanced-search-btnhover {
	background-color:#febac2;
	color:#ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 10px 10px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
  	transition: background-color 0.2s;
}
.search-wrap{
	width: 60%;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form-layout{
	width: 500px;
}
.button-adv-subm{
	background-color:#febac2;
	color:#620e0a;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 5px 5px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
	width: 100%;
}
.button-adv-subm:hover, .button-adv-subm.btnhover {
	background-color:#febac2;
	color:#ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 10px 10px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
  	transition: background-color 0.2s;
}
.adv-form-selector{
	position: left;
	width: 100%;
	border: 3px solid #620e0a;
	border-radius: 0px 0px 0px 10px;
	color: #620e0a;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #febac2;
}
.form-row-label{
	color: #620e0a;
	width: 98.8%;
	border-top: 3px solid #620e0a;
	border-left: 3px solid #620e0a;
	border-right: 3px solid #620e0a;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #febac2;
}
.adv-search-term{
	width: 100%;
	border: 3px solid #620e0a;
	padding: 5px;
	height: 25px;
	border-radius: 0px 0px 10px 10px;
	outline: none;
	color: black;	
}
.addh1{
	color: #620e0a;
	width: 98.8%;
	border-top: 3px solid #620e0a;
	border-left: 3px solid #620e0a;
	border-right: 3px solid #620e0a;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #febac2;
}
.addh2{
	color: #620e0a;
	border: 3px solid #620e0a;
	border-radius: 0px 0px 10px 10px;
	font-weight: bold;
	background-color: #febac2;
}
.video{
	color: #620e0a;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #febac2;
}
.video_box{
	color: #620e0a;
	border-radius: 0px 0px 0px 0px;
	background-color: #ffffff;
}
.filter-tag-button{
	background-color:#febac2;
	color:#620e0a;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
	border: 3px solid #620e0a
}
.filter-tag.clear-all{
	background-color:#febac2;
	color:#620e0a;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bolder;
	text-transform: uppercase;
	box-shadow: 5px 5px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
}
.filter-tag.clear-all:hover, .filter-tag.clear-all.btnhover {
	background-color:#febac2;
	color:#ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 10px 10px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
  	transition: background-color 0.2s;
}
/*Search result title link will inherit from all css applied directly to title*/
.title-more-options{ 
	all: inherit;
}


#admin_dashboard_options{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#admin_dashboard_options a{
    background-color: darkblue;
	color: white;
    padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px #423133;
}

#admin_dashboard_options a:hover{
	background-color:gray;
	color:darkblue;
	text-align: center;
	text-decoration: none;
	box-shadow: 10px 10px #423133;
	margin: 10px;
	border-radius: 5px 5px 5px 5px;
}

#admin_dashboard_title {
    color: blue;
    text-align: center;
}

.add-video-button{
	background-color:#febac2;
	color:#620e0a;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 5px 5px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
	width: 100px;

}
.add-video-button:hover{
	background-color:#febac2;
	color:#ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 10px 10px #423133;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
  	transition: background-color 0.2s;
}

.add-new-text-field{
	width: 100%;
	border: 3px solid #620e0a;
	padding: 5px;
	height: 25px;
	border-radius: 0px 0px 10px 10px;
	outline: none;
	color: black;	
}

