{% extends "layout.html" %}

    <body>
        {% block content %}
        <div class = 'add-video'>
            <h1>Add New Video</h1>
            <form action = "{{url_for('add_new')}}" method = "post" autocomplete="off">
                <label for='video_url'>
                    Video URL: 
                </label>
                <input type="text" name='video_url' id="video_url" required placeholder="http://www...">

                <label for='video_title'>
                    Video Title: 
                </label>
                <input type="text" name='video_title' id="video_title" required placeholder="Title goes Here">
                
                <div class = 'msg'>{{msg}}</div>
                <input type = 'submit' value = 'Add'>
            </form>
        </div>
        

        {% endblock content %}
    </body>
