<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/add_new.js')}}"></script>
{% extends "layout.html" %}
    {% block content %}
        <div class = 'add-video'>
            <h1>Add New Video</h1>
            <form method="POST" id="addvideoform" name="addvideoform" autocomplete="off">
                {{addvideoform.csrf_token}}
                <label>Video Title:</label>
                {{addvideoform.video_title(class="form-control")}}
                <label>Video URL:</label>
                {{addvideoform.video_url(class="form-control")}}
                
                <div class="category-selectors">
                    <label>Choose a category for the video to belong to.</label>
                    <div class="primary-selector-div">
                        {{addvideoform.primaryselect(class="form-control", size=6)}}
                    </div>
                    <div id="choosesubdiv" hidden>
                        <label>Choose a subcategory?</label>
                        <input type="checkbox" id="showsubbool">
                        <div id="subcategorydiv" hidden>
                            <div class="secondary-selector-div">
                                {{addvideoform.secondaryselect(class="form-control", size=6)}}
                            </div>
                        
                            <div id="filterfurtherdiv" hidden>
                                <label>Filter Further?</label>
                                <input type="checkbox" id="filterfurtherbool">
                                <div id="tertiary-selector-div" hidden>
                                    {{addvideoform.tertiaryselect(class="form-control", size=6)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
                {{addvideoform.videosubmitbutton(class="form-control")}}
            </form>

        </div>
    {% endblock content %}
