<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='/js/categories.js')}}"></script>
{% extends "layout.html" %}
{% block content %}
    {% if is_admin %}
        <p>Welcome, {{username}}</p>
        <ul>
            <li>Approve videos</li>
            <li>Suspend or ban user</li>
            <li><a href="{{ url_for('add_admin') }}">Add new admin</a></li>
        </ul>

        <br>
        <form method="POST">
            {{form.csrf_token}}
            <div class="form-group">
                <label>C1</label>
                {{form.category(class="form-control")}}
            </div>
            <div class="form-group">
                <label>C2</label>
                {{form.category2(class="form-control")}}
            </div>
            <div class="form-group">
                <label>C3</label>
                {{form.category3(class="form-control")}}
            </div>
            <button type="submit">submitform</button>
        </form>

        <br>
    <!--
        <div class="category-wrapper">
            <div class="primary-selector">
                <form class="add-category-form">
                    <label for="category-name-field">Category Name</label>
                    <input type="text" name="category-name" id="category-name-field" pattern="[A-Za-z0-9 ]+" required>
                    <br>
                    <label for="parent-category-field">Parent Category - leave empty to create new parent</label>
                    <select class="category-selector" id="category-selector">
                        
                    </select>
                </form>

                <button type="category-update" class="cat-button" id="submit-button">Submit</button>

            </div>
        </div>
    -->

        
    {% else %}
        <p>You must be logged in on an admin account to view this page.</p>
        {% endif %}
{% endblock content %}



