<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/categories.js')}}"></script>
{% extends "layout.html" %}
{% block content %}
    {% if is_admin %}
        <p>Welcome, {{username}}</p>
        <ul>
            <li>Approve videos</li>
            <li>Suspend or ban user</li>
            <li><a href="{{ url_for('add_admin') }}">Add new admin</a></li>
        </ul>

        <div class="category-editor">
            <div class ="category-editor button-row">
                <button type="addcategorybutton" name="addcategorybutton" id="addcategorybutton">Add Category</button>
                <button type="deletecategorybutton" name="deletecategorybutton" id="deletecategorybutton">Remove Category</button>
            </div>
            <br>
            <div class="add-category-div" id="add-category-div" hidden>
                <label><h4>Create New Category</h4></label>
                <form method="POST" id="add-category-form" name="add-category-form">
                    {{form.csrf_token}}
                    <div class="form-group prime">
                        <label>Category Name</label>
                        {{form.categoryname(class="form-control")}}
                    </div>
                    <div class="form-group prime">
                        <label>Check if creating a new Primary Category</label>
                        {{form.primarybool(class="form-control")}}
                    </div>
                    <div class="subcategory">
                            <label>What category does it belong to?</label>
                            <div class="form-group primary" id="primary-select-dropdown">
                                {{form.primaryselect(class="form-control")}}
                            </div>

                            <div class="form-group secondary">
                                <label>Choose a Subcategory or check to create a Subcategory</label>
                                {{form.secondarybool(class="form-control")}}    
                                <div class="form-group secondary" id="secondary-select-dropdown" hidden>
                                    {{form.secondaryselect(class="form-control")}}
                                </div>
                            </div>
                    </div>
                    <br>
                    {{form.addbutton(class="form-control")}}
                </form>
            </div>
            <div class="remove-category-div" id="remove-category-div" hidden>
                <label>Remove operation coming soon...</label>
            </div>

        </div>
        

        
    {% else %}
        <p>You must be logged in on an admin account to view this page.</p>
        {% endif %}
{% endblock content %}



