{% extends "layout.html" %}

	{% block content %}
	<div class='index-content'>
		<div class = 'search-wrap'>
			<div class="search">
				<!-- TODO: have searchbar pass value to results page-->
				<input type="text" class="search-term" placeholder="Search Videos" method = 'POST'>
				<a href="{{ url_for('search_results') }}" class="search-btn">
					<i class="fas fa-search"></i>
				</a>
			 </div>
		</div>
		<div class = 'advanced-search-wrap'>
			<a href="{{url_for('advanced_search')}}" class="advanced-search-btn">Advanced Search</button></a>
		</div>
		<!-- TODO: display filterable keyword selectors-->
		<!-- Removed for testing-->
		<!--<div class='selector-wraper'>
			<label for ='selector categories'>Category</label>
			<div class='selector categories'>
				<select name='prime-categories' size = '6'>
					{% for category in categories %}
					<option name = '{{category}}'>{{category.name}}</option>
					{% endfor %}
				</select>
			</div>
			<br>
			<label for = 'selector subcategories'>Subcategories</label>
			<div class='selector subcategories'>
				<select name='subcategories' size = '6'>
					{% for category in subcategories %}
					<option name = '{{category}}'>{{category.sub_name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class='selector rating'>
			</div>
		</div>-->
	</div>
	{% endblock content %}

