<!DOCTYPE html>

<html>
	<head>
		<title>Index</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<!-- TODO: add navbar with login/register button-->
		<div class='navbartop'>
			<!--TODO: css Buttons for links-->
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('add_new')}}">Add New</a>
		</div>

		<div class='content'>
			<!-- TODO: add searchbar-->
			<div class = 'searchbar'>

			</div>
			<!-- TODO: display top rated video thumbnails-->
			<div class='topthumbs'>
				
			</div>
		</div>
	</body>
</html>