{% extends "layout.html" %}
<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<meta charset="utf-8">
        <title>Profile</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

	</head>
    <body>
		{% block content %}
       <div class="profile">
            <h1>Profile</h1>
            <div class='profileinfo'>

                <h3>Your account details are below.</h3>

                <div class = 'userinfo username'>
                    <span class = 'profinfo1'> Username: </span>
                    <span class = 'profinfo2'> {{username}} </span>
                </div>

                <div class = 'userinfo password'>
                    <span class = 'profinfo1'> Password: </span>
                    <span class = 'profinfo2'> {{password}} </span>
                </div>

                <div class = 'userinfo email'>
                    <span class = 'profinfo1'> Email: </span>
                    <span class = 'profinfo2'> {{email}} </span>
                </div>

                <div class = 'userinfo creation-date'>
                    <span class = 'profinfo1'> Creation Date: </span>
                    <span class = 'profinfo2'> {{creation_date}} </span>
                </div>

            </div>
       </div>
       {% endblock content %}
    </body>
</html>